<?xml version='1.0' encoding='utf-8'?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

    <global-property doc:name="Global Property" name="mule.env" value="dev" />
    <configuration-properties file="common.properties" doc:id="cca3bc6f-82eb-4896-8427-e9b3e0358857" doc:name="Configuration properties" />
    <configuration-properties file="mule.${mule.env}.properties" doc:id="f6877f57-da2d-43e5-aeed-183ce200d2aa" doc:name="Configuration properties" />

    <salesforce:sfdc-config name="Salesforce_Sfdc_config" doc:id="38a0808d-8f32-4c87-a763-4db431b3c4cd" doc:name="Salesforce Sfdc config">
        <salesforce:basic-connection password="${sfdc.password}" securityToken="${sfdc.securityToken}" username="${sfdc.username}" />
    </salesforce:sfdc-config>

    <sap:sap-config name="SAP_Config" doc:name="SAP Config" doc:id="c8d1f2bb-f914-4067-b16b-76ba353dfc30" >
        <sap:simple-connection-provider-connection language="${sap.jco.lang}" password="${sap.jco.passwd}" systemNumber="${sap.jco.sysnr}" client="${sap.jco.client}" applicationServerHost="${sap.jco.ashost}" username="${sap.jco.user}" />
    </sap:sap-config>
</mule>